
body {
    margin: 0;
}

.navbar{

    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbarin {
    background-color: #264653;
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
