body {
    margin: 0;
}

.navbar{
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.navbarin {
    background-color: #264653;
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hom {
    border-style: solid;
    border-radius: 4px;
    filter: invert(33%) sepia(43%) saturate(1708%) hue-rotate(325deg) brightness(102%) contrast(95%);
    padding: 4px;
}
